<div class="tl-item">
  <div class="tl-date">{{ experience.dateRange }}</div>
  <div class="tl-node"></div>
  <div class="tl-card">
    <mat-card-header class="tl-head">
      <div>
        <div class="tl-role">
            <h3>
                {{ experience.role }}
            </h3>
        </div>
        <div class="tl-org">
            <i>
                {{ experience.organization }}
            </i>
        </div>
      </div>
    </mat-card-header>
    
    <mat-card-content>
        <ul class="tl-desc">
          @for (bullet of experience.bullets; track bullet) {
            <li>{{ bullet }}</li>
          }
        </ul>
    </mat-card-content>
  </div>
</div>