<section id="home">
    <div>
        <h1>
            Gia Khang <br> Cao
        </h1>
        <p>3rd year CS student at Brock University with <b>two co-ops</b> under my belt, working across <b>Java, Python, C#, Blazor, React, and Typescript</b></p>
    </div>
    <span>
        <a matButton="filled" href="https://github.com/GiaKhangCao">Github</a>
        <a matButton="filled" href="https://www.linkedin.com/in/gia-khang-c-05745b290/">LinkedIn</a>
    </span>
</section>

<app-about id="about"></app-about>
<app-experience id="experience"></app-experience>
<app-skills-tools id="skills-tools"></app-skills-tools>