<section id="home">
    <div>
        <p>// ROLE - COMPUTER SCIENCE CO-OP STUDENT</p>
        <h1>
            Gia Khang <br> Cao
        </h1>
        <p>
            3rd year Computer Science student at Brock University, building <b>reliable, user facing software</b> 
            across two co-op terms from resolving incident tickets at the Ontario government to shipping React features in production
        </p>
    </div>
    <span>
        <a matButton="filled" href="https://github.com/GiaKhangCao">Github</a>
        <a matButton="filled" href="https://www.linkedin.com/in/gia-khang-c-05745b290/">LinkedIn</a>
    </span>
</section>

<app-about id="about"></app-about>
<app-experience id="experience"></app-experience>
<app-skills-tools id="skills-tools"></app-skills-tools>